.col {
    align-items: flex-start!important;
    display: flex!important;
    flex-direction: column!important;
    margin-left: 2px!important;
    min-height: 200px!important;
    width: 1070px!important;
    margin-top: 7vh;
  }
.row {
    align-items: flex-end!important;
    display: flex!important;
    min-width: 1070px!important;
    padding-bottom: 2vh;
  }
  .logout {
    letter-spacing: 0px;
    margin-bottom: 2px;
    min-height: 36px;
    min-width: 92px;
    position: absolute;
    left: 85vw;
  }
  .poppins-bold-white-24px {
    color: white;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  .menu-1 {
    height: 36px;
    margin-bottom: 2px;
    margin-left: 46px;
    object-fit: cover;
    width: 36px;
  }
  .navbar {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 36px;
    margin-right: 8px;
    margin-top: 41px;
    min-width: 936px;
  }
  .analytics {
    letter-spacing: 0px;
    min-height: 36px;
    min-width: 111px;
    text-align: center;
  }
  .subscriptions {
    letter-spacing: 0px;
    margin-left: 28px;
    min-height: 36px;
    min-width: 164px;
    text-align: center;
  }
  .classes {
    letter-spacing: 0px;
    margin-left: 28px;
    min-height: 36px;
    min-width: 96px;
    text-align: center;
  }
  .teachers {
    letter-spacing: 0px;
    margin-left: 28px;
    min-height: 36px;
    min-width: 113px;
    text-align: center;
  }
  .students {
    letter-spacing: 0px;
    margin-left: 28px;
    min-height: 36px;
    min-width: 108px;
    text-align: center;
  }
  .quizzes {
    letter-spacing: 0px;
    margin-left: 28px;
    min-height: 36px;
    min-width: 92px;
    text-align: center;
  }
  .logo {
    align-items: flex-start;
    display: flex;
    height: 60px;
    min-width: 185px;
    position: absolute;
    left: 5vw;
  }
  .vector {
    height: 62px;
    margin-top: -1px;
    width: 70px;
  }
  .title {
    align-self: center;
    letter-spacing: 0px;
    margin-left: 21px;
    min-height: 36px;
    width: 95px;
  }
  .line {
    position: absolute;
    left:55.2vw;
    width: 7vw;
  }