* {
    margin: 0;
    padding: 0;
} 

.slider{
    text-align: center;
    font-family: sans-serif;
    margin-top: 0vh;
    position: absolute;
    width: 1450px;
    margin-left: -200px;
    top: 200px;
}

.card{
    width: 300px;
    height: 160px;
    font-size: 30px;
    padding: 0;
}

.card_image{
    width: 100%;
    cursor: pointer;
}

.lgksPe{
    height: 0px!important;
    width: 0px!important;
}

.iLquPE:disabled{
    height: 0px!important;
    width: 0px!important;
}

/* .sc-gKsewC{
    visibility: hidden;
} */

.button3{
    background-color: transparent;
    border: 0;
    outline: 0;
}